In [1]:
"""
Q.23 Why is following code giving errors:

     name="Rehman"
     print("Greetings!!!")
        print("Hello",name)
        print("How do you do?")
"""

name="Rehman"
print("Greetings!!!")
print("Hello",name)
print("How do you do?")

Greetings!!!
Hello Rehman
How do you do?

In [2]:
 # Q.24 Write a program to calculate profit percentage from the sales of goods that you made.

cgos=float(input("Enter cost of goods sold: ")) #cgos:cost of goods
revenue=float(input("Enter revenue amount: ")) #revenue:amount at which goods are sold
pl=revenue-cgos #pl:profit or loss
prPerc=pl/cgos*100
print("Cost of goods:",cgos)
print("Revenue generated:",revenue)
print("Profit%:",prPerc)

Cost of goods: 2000.0
Revenue generated: 3000.0
Profit%: 50.0

In [ ]:
"""
Q.25 What will be the output produced by following code:

     name="Simar"
     age=17
     print(name,",you are",17,"now but",end=" ")
     print("you will be",age+1,"next year")
"""
name="Simar"
age=17
print(name,",you are",17,"now but",end=" ")
print("you will be",age+1,"next year")

Simar ,you are 17 now but you will be 18 next year

In [4]:
"""
Q.26 What will be the output of the following code:
     x,y=2,6
     x,y=y,x+2
     print(x,y)
"""

x,y=2,6
x,y=y,x+2

print(x,y)

6 4

In [5]:
"""
Q.27 Predict the output of following:
     x,y=7,2
     x,y,x=x+1,y+3,x+10
     print(x,y)
"""
x,y=7,2
x,y,x=x+1,y+3,x+10
print(x,y)

17 5

In [6]:
"""
Q.28 Write a program to input a value in miles and convert it to kilometres. (1 km=0.621371 miles)
"""

miles=int(input("Enter miles: "))
km=miles/0.621371
print("Miles:",miles)
print("Kilometres:",km)

Miles: 3
Kilometres: 4.82803349367769

In [7]:
"""
Q.29 Write a program to input three numbers and swap them as this:
     2nd number gets the value of 1st+2nd number, 3rd number gets the value of 2nd+3rd number.
"""

x=int(input("Enter the Number 1: "))
y=int(input("Enter the Number 2: "))
z=int(input("Enter the Number 3: "))
print("Original Number:",x,y,z)
x,y,x=x,x+y,x+y+z
print("After Swapping:",x,y,z)

Original Number: 10 5 12
After Swapping: 27 15 12

In [8]:
"""
Q.30 Write the correspondinf Python assignment statements:
     
     (a) Assign 10 to variable length and 20 to variable breadth
     (b) Assign the average of values of variables length and breadth to a variable sum.
"""

length,breadth=10,20
sum=(length+breadth)/2

In [9]:
"""
Q.31 Write a program to find the average of 3 numbers.
"""

x=int(input("Enter the Number 1: "))
y=int(input("Enter the Number 2: "))
z=int(input("Enter the Number 3: "))
print("Three Number are:",x,y,z)
avg=(x+y+z)/3
print("Average of the given Numbers:",avg)

Three Number are: 10 5 12
Average of the given Numbers: 9.0

In [1]:
x=55
56thnumber=3300
length=450.17
!Taylor='Instant'
this variable=87.E02
float=.17E-03
FLOAT = 0.17E-03

SyntaxError: invalid decimal literal (1039301806.py, line 2)

In [2]:
20+30*40

1220

In [3]:
20-30+40

30

In [4]:
(20+30)*40

2000

In [5]:
15.0/4+(8+3.0)

14.75

In [6]:
temperatire=90
print temperature

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (322647921.py, line 2)

In [7]:
a=30
b=a+b
print(a And b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4090909564.py, line 3)

In [8]:
a,b,c=2,8,9
print(a,b,c)
c,b,a=a,b,c
print(a;b;c)

SyntaxError: invalid syntax (2173319694.py, line 4)

In [9]:
x=24
4=x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1723670334.py, line 2)

In [10]:
print("X="X)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (626322504.py, line 1)

In [11]:
else=21-5

SyntaxError: invalid syntax (2866793461.py, line 1)

In [12]:
X=10
X=X+10
X=X-5
print(X)
X,Y=X-2,22
print(X,Y)

15
13 22

In [13]:
first=2
second=3
third=first*second
print(first,second,third)
first=first+second+third
third=second+first
print(first,second,third)

2 3 6
11 3 14

In [14]:
side=int(input('side'))
area=side*side
print(side,area)

3 9

In [16]:
a=3
    print(a)
b=4
    print(b)
s=a+b
    print(s)

IndentationError: unexpected indent (2945707120.py, line 2)

In [17]:
name="Ada"
age=26
print("Your name & age are",name+age)

TypeError: can only concatenate str (not "int") to str

In [18]:
a=3
s=a+10
a="New"
q=a/10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [20]:
x=40
y=x+1
x=20,y+X
print(x,y)

(20, 81) 41

In [21]:
x,y=20,60
y,x,y=x,y-10,x+10
print(x,y)

50 30

In [22]:
a,b=12,13
c,b=a*2,a/2
print(a,b,c)

12 6.0 24

In [23]:
a,b=12,13
print(print(a+b))

25
None

In [26]:
a,b,c=10,20,30
p,q,r=c-5,a+3,b-4
print('a,b,c:',a,b,c,end=" ")
print('p,q,r:',p,q,r)

a,b,c: 10 20 30 p,q,r: 25 13 16

In [27]:
y=x+5
print(x,y)

50 55

In [28]:
print(x=y=5)

SyntaxError: invalid syntax (2065265487.py, line 1)

In [29]:
a=input("value")
b=a/2
print(a,b)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [31]:
c=int(input("Enter your class"))
print("Your class is",c)

ValueError: invalid literal for int() with base 10: 'XII'

In [32]:
name=input("What is your name?")
print("Hi",name,",") #end=" "
print("How are you doing?")

Hi Ada ,
How are you doing?

In [33]:
c=input("Enter your class")
print("Last year you were in class") c-1

SyntaxError: invalid syntax (1893280303.py, line 2)