In [1]:
type(0)

int

In [2]:
type(int(0))

int

In [7]:
type(int('0'))

int

In [4]:
type('0')

str

In [5]:
type(1.0)

float

In [6]:
type(int(1.0))

int

In [8]:
type(float(0))

float

In [9]:
type(float(1.0))

float

In [10]:
type(3/2)

float

In [11]:
str(print())+"One"

'NoneOne'

In [13]:
str(print("hello"))+"One"

hello

'NoneOne'

In [14]:
print(print("Hola"))

Hola
None

In [15]:
print(print("Hola",end=" "))

Hola None

In [16]:
a,b,c=2,3,4
a,b,c=a*a,a*b,a*c
print(a,b,c)

4 6 8

In [17]:
print("A")
print()
print("B")

A

B

In [18]:
print("A")
print('\n')
print("B")

A


B

In [19]:
print(num=float(input("value1:")))

TypeError: print() got an unexpected keyword argument 'num'

In [20]:
print(float(input("value1:")))

67.0

In [23]:
days=int(input("Input days: "))*3600*24
hours=int(input("Input hpurs: "))*3600
minutes=int(input("Input minutes:"))*60
seconds=int(input("Input seconds: "))
time=days+hours+minutes+seconds
print("Total number of seconds",time)

Total number of seconds 329180

In [25]:
n1,n2=5,7
n3=n1+n2
n4=n4+2
print(n1,n2,n3,n4)

NameError: name 'n4' is not defined

In [26]:
val=input("Enter a value")
nval=val+30
print(nval)

TypeError: can only concatenate str (not "int") to str