In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_theme()
import warnings
warnings.filterwarnings('ignore')

In [2]:
import gdown
file_id = "1Yy6m97BjIzXBPJ7RFogtNpZFu3S4ulyL"
gdown.download(f"https://drive.google.com/uc?id={file_id}", "Finance_dept.zip", quiet=False)

Downloading...
From (original): https://drive.google.com/uc?id=1Yy6m97BjIzXBPJ7RFogtNpZFu3S4ulyL
From (redirected): https://drive.google.com/uc?id=1Yy6m97BjIzXBPJ7RFogtNpZFu3S4ulyL&confirm=t&uuid=bfb6e724-5eed-45fb-aa7c-d379e07e0a3a
To: d:\Programming\Codes\Python\Finance_dept.zip
100%|██████████| 40.0M/40.0M [00:12<00:00, 3.31MB/s]

'Finance_dept.zip'

In [3]:
import zipfile
with zipfile.ZipFile("Finance_dept.zip", "r") as zip_ref:
    zip_ref.extractall("Finance_dept")

In [4]:
folder_path='Finance_dept'
inner_folder_path = os.path.join(folder_path, 'Capston project finance dept')
files = os.listdir(inner_folder_path)
print(files)

['Geo_scores.csv', 'instance_scores.csv', 'Lambda_wts.csv', 'Presentation.pptx', 'Qset_tats.csv', 'test_share.csv', 'train.csv']

In [5]:
train=pd.read_csv(os.path.join(inner_folder_path,"train.csv"))
train_sorted=train.sort_values('id')
test=pd.read_csv(os.path.join(inner_folder_path,"test_share.csv"))
test_sorted=test.sort_values('id')
geo=pd.read_csv(os.path.join(inner_folder_path,"Geo_scores.csv"))
geo_sorted=geo.sort_values('id')
instance=pd.read_csv(os.path.join(inner_folder_path,"instance_scores.csv"))
instance_sorted=instance.sort_values('id')
qset=pd.read_csv(os.path.join(inner_folder_path,"Qset_tats.csv"))
qset_sorted=qset.sort_values('id')
lambda_wt=pd.read_csv(os.path.join(inner_folder_path,"Lambda_wts.csv"))
lambda_sorted=lambda_wt.sort_values('Group')

In [6]:
m1=pd.merge(geo_sorted,instance_sorted,on='id',how='left')
del geo_sorted,instance_sorted
m2=pd.merge(m1,qset_sorted,on='id',how='left')
del m1,qset_sorted

In [8]:
print(m2.head())
print(m2.info())

   id  geo_score  instance_scores  qsets_normalized_tat
0   0       4.48             0.05                 -2.41
1   0       4.48             0.05                   NaN
2   0       4.48             0.05                 14.49
3   0       4.48             0.05                 -9.31
4   0       4.48             0.05                 -1.72
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35600875 entries, 0 to 35600874
Data columns (total 4 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   geo_score             float64
 2   instance_scores       float64
 3   qsets_normalized_tat  float64
dtypes: float64(3), int64(1)
memory usage: 1.1 GB
None

In [9]:
m2.isna().sum()

id                            0
geo_score               1788575
instance_scores               0
qsets_normalized_tat    2580025
dtype: int64

In [10]:
m2['geo_score']=m2['geo_score'].fillna(m2['geo_score'].median())
m2['qsets_normalized_tat']=m2['qsets_normalized_tat'].fillna(m2['qsets_normalized_tat'].median())
m3=pd.merge(test_sorted,lambda_sorted,on='Group',how='left')
del test_sorted
print(m3.info())
m3.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56962 entries, 0 to 56961
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              56962 non-null  int64
 1   Group           56962 non-null  object
 2   Per1            56962 non-null  float64
 3   Per2            56962 non-null  float64
 4   Per3            56962 non-null  float64
 5   Per4            56962 non-null  float64
 6   Per5            56962 non-null  float64
 7   Per6            56962 non-null  float64
 8   Per7            56962 non-null  float64
 9   Per8            56962 non-null  float64
 10  Per9            56962 non-null  float64
 11  Dem1            56962 non-null  float64
 12  Dem2            56962 non-null  float64
 13  Dem3            56962 non-null  float64
 14  Dem4            56962 non-null  float64
 15  Dem5            56962 non-null  float64
 16  Dem6            56962 non-null  float64
 17  Dem7            56962 non-null  float64
 18  Dem8            56962 non-null  float64
 19  Dem9            56962 non-null  float64
 20  Cred1           56962 non-null  float64
 21  Cred2           56962 non-null  float64
 22  Cred3           56962 non-null  float64
 23  Cred4           56962 non-null  float64
 24  Cred5           56962 non-null  float64
 25  Cred6           56962 non-null  float64
 26  Normalised_FNT  56962 non-null  float64
 27  lambda_wt       56962 non-null  float64
dtypes: float64(26), int64(1), object(1)
memory usage: 12.2+ MB
None

id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
lambda_wt         0
dtype: int64

In [ ]:
merged_test=pd.merge(m3,m2,on='id',how='left')
del m3
merged_test.isna().sum()

In [12]:
mt3=pd.merge(train_sorted,lambda_sorted,on='Group',how='left')
mt3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227845 entries, 0 to 227844
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              227845 non-null  int64
 1   Group           227845 non-null  object
 2   Per1            227845 non-null  float64
 3   Per2            227845 non-null  float64
 4   Per3            227845 non-null  float64
 5   Per4            227845 non-null  float64
 6   Per5            227845 non-null  float64
 7   Per6            227845 non-null  float64
 8   Per7            227845 non-null  float64
 9   Per8            227845 non-null  float64
 10  Per9            227845 non-null  float64
 11  Dem1            227845 non-null  float64
 12  Dem2            227845 non-null  float64
 13  Dem3            227845 non-null  float64
 14  Dem4            227845 non-null  float64
 15  Dem5            227845 non-null  float64
 16  Dem6            227845 non-null  float64
 17  Dem7            227845 non-null  float64
 18  Dem8            227845 non-null  float64
 19  Dem9            227845 non-null  float64
 20  Cred1           227845 non-null  float64
 21  Cred2           227845 non-null  float64
 22  Cred3           227845 non-null  float64
 23  Cred4           227845 non-null  float64
 24  Cred5           227845 non-null  float64
 25  Cred6           227845 non-null  float64
 26  Normalised_FNT  227845 non-null  float64
 27  Target          227845 non-null  int64
 28  lambda_wt       227845 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 50.4+ MB

In [13]:
mt3.isna().sum()

id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
Target            0
lambda_wt         0
dtype: int64

In [ ]:
merged_train=pd.concat([mt3, m2],axis=1,ignore_index=True)