<h1>Arithmetic Expression</h1>

In [ ]:
a,b,c,d=1,2,3,4
a+b>c**d or a*b<c*d

<h1>Relational Expression</h1>

In [1]:
x,y,z,q=1,2,3,4
x>y

False

In [2]:
y<=z

True

In [7]:
z!=x

True

In [3]:
z==q

False

In [4]:
x<y>z

False

In [6]:
x==y!=z

False

<h1>Logical Expression</h1>

In [10]:
a,b,c=1,2,3
a or b

1

In [11]:
b and c

3

In [12]:
a and not b

False

In [13]:
not c or not b

False

<h1>String Expression</h1>

In [14]:
"and"+"then"

'andthen'

In [15]:
"and"*2

'andand'

<h1>Questions</h1>

<pre>Q.1 What will be the output produced by the following code:

         print(2*'No'+3*'!')
         print(2*('No'+3*'!'))
<pre>

In [16]:
print(2*'No'+3*'!')
print(2*('No'+3*'!'))

NoNo!!!
No!!!No!!!

<pre>Q.2 What will be the output produced by the follwoing code:
   
         print(11+3)
         print('11'+'3')
</pre>

In [17]:
print(11+3)
print('11'+'3')

14
113

<pre>Q.3 Consider the following code containing mixed arithmetic expression. What will be the final result and the final data type?

         ch=5
         i=2
         fl=4
         db=5.0
         fd=36.0
         A=(ch+i)/db
         B=fd/db*ch/2
         print(A)
         print(B)
</pre>

In [18]:
ch=5
i=2
fl=4
db=5.0
fd=36.0
A=(ch+i)/db
B=fd/db*ch/2
print(A)
print(B)

1.4
18.0

<pre>Q.4 Consider below given expressions. What will be the final result and final data type?

     (a) a,b=3,6
         c=b/a

     (b) a,b=3,6
         c=b//a
    
     (c) a,b=3,6
         c=b%a
</pre>

In [4]:
a,b=3,6
c=b/a
print(c)
c=b//a
print(c)
c=b%a
print(c)

2.0
2
0

<pre>Q.5 What will be the output of following statement when the inputs are:
   
     (i) a=10,b=23,c=23
     (ii) a=23,b=10,c=10

     print(a < b)
     print(a <= c)
     print(a < b <= c)

In [8]:
a,b,c=10,23,23
print(a < b)
print(b <= c)
print(a < b <= c)

True
True
True

In [7]:
a,b,c=23,10,10
print(a < b)
print(b <= c)
print(a < b <= c)

False
True
False

<pre>Q.6 How would following relational expressions be internally interpreted by Python?

     (i) p > q < y
     (ii) a <= N <= b
</pre>

In [10]:
a,b,p,q,N,y=1,2,3,4,5,6
p > q < y

False

In [11]:
a <= N <= b

False

<pre>Q.7 What will be the output of following expressions?

     (5<10) and (10<5) or (3<10) and not 8<10
</pre>

In [13]:
(5<10) and (10<5) or (3<10) and not 8<10

False

<pre>Q.8 'Divide by zero' is an undefined term. Dividing by zero causes an error in any programming language, but when following expression is evaluated in Python, Python reported no error and returned the result as True. Could you tell, why?

     (5<10) or (50<100/0)
</pre>

In [14]:
(5<10) or (50<100/0)

True