Q.1 What will be the output produced by the following code:
<br>
<br>
x,z=5,10
<br>
y=x+3
<br>
x=x-1
<br>
x=x+z
<br>
print('x:',x,'y:',y,'z:',z)

In [2]:
x,z=5,10
y=x+3
x=x-1
x=x+z
print('x:',x,'y:',y,'z:',z)

x: 14 y: 8 z: 10

Q.2 What will be the output produced by the following code:
<br>
<br>
print(14//4,14%4,14/4)

In [4]:
print(14//4,14%4,14/4)

3 2 3.5

Q.3 What will be the output produced by the following code:
<br>
<br>
print(type(1+3))
<br>
print(type(1+3.0))

In [5]:
print(type(1+3))
print(type(1+3.0))

<class 'int'>
<class 'float'>

Q.4 Why is the following code giving error:
<br>
<br>
print(11+3)
<br>
print('11'+3)

In [7]:
print(11+3)
print(int('11')+3)

14
14

Q.5 Which of the following expressions will yield an integer type value as its output:
<br>
<br>
(i) 5*2
<br>
(ii) 5**2
<br>
(iii) '5'+'2'
<br>
(iv) '5'*2
<br>
(v) 5/2
<br>
(vi) 5//2
<br>
(vii) 5%2
<br>
(viii) 5+2.0
<br>
(ix) 5.0*2.0
<br>
(x) '5'-2

Q.6 Considering the expressions given in the previous example, which expressions will yield a floating point result?

Q.7 Considering the expressions given in the previous example, which expressions will yield a String result?

Q.8 Considering the expressions given in the previous example, which expressions will result into an Error and why

In [8]:
5*2

10

In [9]:
5**2

25

In [10]:
'5'+'2'

'52'

In [11]:
'5'*2

'55'

In [12]:
5/2

2.5

In [13]:
5//2

2

In [14]:
5%2

1

In [15]:
5+2.0

7.0

In [16]:
5.0*2.0

10.0

In [17]:
'5'-2

TypeError: unsupported operand type(s) for -: 'str' and 'int'

Q.9 Write an expression involving a logical operator to test if marks are 55 and grade is 'B'

In [21]:
marks=55
grade='B'
marks==55 and grade=='B'

True

Q.10 What is the order of evaluation in the following expressions:
<br>
<br>
(i) a>b or b<=d
<br>
(ii) x==y and y>=m
<br>
(iii) a > b < c > d

In [26]:
a,b,c,d=10,5,12,6
x,y=15,20
m=20
a>b or b<=d

True

In [23]:
x==y and y>=m

False

In [24]:
a>b<c>d

True

Q.11 What is the result of the following expression:
<br>
<br>
a>=b and (a+b)>a if:
<br>
<br>
(i) a,b=3,0
<br>
(ii) a,b=7,7

In [27]:
a,b=3,0
a>=b and (a+b)>a

False

In [28]:
a,b=7,7
a>=b and (a+b)>a

True

Q.12 What is the result of the folloing expressions (a to e) if:
<br>
<br>
(i) check = 3, mate = 0.0
<br>
(ii) check = 0, mate = -5
<br>
(iii) check = '', mate = 'e'
<br>
(iv) check = 'meera', mate = ''
<br>
<br>
(a) check or mate
<br>
(b) mate or check
<br>
(c) check and not mate
<br>
(d) check and mate
<br>
(e) mate and check

In [29]:
check,mate=3,0.0
print(check or mate)
print(mate or check)
print(check and not mate)
print(check and mate)
print(mate and check)

3
3
True
0.0
0.0

In [30]:
check,mate=0,-5
print(check or mate)
print(mate or check)
print(check and not mate)
print(check and mate)
print(mate and check)

-5
-5
0
0
0

In [31]:
check,mate='','e'
print(check or mate)
print(mate or check)
print(check and not mate)
print(check and mate)
print(mate and check)

e
e

In [32]:
check,mate='meera',''
print(check or mate)
print(mate or check)
print(check and not mate)
print(check and mate)
print(mate and check)

meera
meera
True

Q.13 Identify the order of evaluation in the following expression:
<br>
<br>
<p>4*5+7*2-8%3+4 and 5.7//2-1+4 or not 2==4 and not 2**4>6*2<p>

In [33]:
4*5+7*2-8%3+4 and 5.7//2-1+4 or not 2==4 and not 2**4>6*2

5.0

Q.14 a=15.5,b=15.5 then why is a is b is False while a==b is True?

In [34]:
a,b=15.5,15.5
print(a==b)
print(a is b)

True
True