<pre>Q.1 Are the following expressions equal?Why or why not?

     x or y and not z
     (x or y) and (not z)
     (x or (y and (not z)))
</pre>

In [1]:
x,y,z=1,2,3
print(x or y and not z)
print((x or y) and (not z))
print((x or (y and (not z))))

1
False
1

<pre>Q.2 State when would only first argument be evaluated and when both first and second arguments are evaluated in following expressions if a=5,b=10,c=-5,d=0.

     (i) b>c and c>d
     (ii) a<=b or c<=d
     (iii) (b+c)<=a and not(c < a)
     (iv) b < d and d < a
</pre>

In [2]:
a,b,c,d=5,10,-5,0
b>c and c>d

False

In [3]:
a<=b or c<=d

True

In [4]:
(b+c)<=a and not(c < a)

False

In [5]:
b < d and d < a

False

<pre>Q.3 Write conversion function you would use for following type of conversions.

     (i) Boolean to string
     (ii) integer to float
     (iii) float to integer
     (iv) string to integer
     (v) string to float
     (vi) string to Boolean
     (vii) integer to complex
</pre>

In [6]:
str(True)

'True'

In [8]:
float(2)

2.0

In [9]:
int(2.5)

2

In [10]:
int('2')

2

In [11]:
float('2.5')

2.5

In [12]:
bool('True')

True

In [15]:
complex(2+3,4)

(5+4j)

<pre>Q.4 Which of the following expressions will yield a Boolean type value as its output?
    
     (i) 10>2
     (ii) 2!=4
     (iii) (2+5,6+6)
     (iv) 5>2 and not (10>11)
     (v) [2,4,[3,4]]
     (vi) 4==2**2
     (vii) 4,2**2
     (viii) 'cat'<'dog'
     (ix) 'Cat'<'dog'
     (x) 5>2 and 10>11
     (xi) 5>2 or 10>11
</pre>

In [18]:
10>2

True

In [19]:
2!=4

True

In [20]:
(2+5,6+6)

(7, 12)

In [21]:
5>2 and not(10>11)

True

In [23]:
[2,4,[3,4]]

[2, 4, [3, 4]]

In [24]:
4==2**2

True

In [25]:
4,2**2

(4, 4)

In [26]:
'cat'<'dog'

True

In [27]:
'Cat'<'dog'

True

In [28]:
5>2 and 10>11

False

In [29]:
5>2 or 10>11

True

<pre>Q.5 Write Boolean expressions in Python for these conditions:

     (i) x is a factor of y(that is, x divides evenly into y)
     (ii) age is at least 18 and state equals 'Goa'
     (iii) the string name is not 'Nimra'
</pre>

In [31]:
x,y=10,5
x%y==0

True

In [32]:
age,state=18,'Goa'
age>=18 and state=='Goa'

True

In [33]:
name='Ada'
name!='Nimra'

True

<pre>Q.6 Which of the following code fragments may result into data loss?
 
     (a) a=17
         b=float(a)
        
     (b) c=27.97832
         d=int(c)
        
     (c) e=29/5
         f=float(e)
     
     (d) g=29/5
         h=int(g)
</pre>

In [35]:
a=17
b=float(a)
print(a,b)

17 17.0

In [36]:
c=27.97832
d=int(c)
print(c,d)

27.97832 27

In [37]:
e=29/5
f=float(e)
print(e,f)

5.8 5.8

In [38]:
g=29/5
h=int(g)
print(g,h)

5.8 5