In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df=pd.DataFrame({"Input1":[2,2,2,2,2,2,2,2,2,2],"Input2":[1,2,3,4,5,6,7,8,9,10],"Output":[2,4,6,8,10,12,14,16,18,20]})
df

   Input1  Input2  Output
0       2       1       2
1       2       2       4
2       2       3       6
3       2       4       8
4       2       5      10
5       2       6      12
6       2       7      14
7       2       8      16
8       2       9      18
9       2      10      20

In [6]:
df.shape

(10, 3)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Input1  10 non-null     int64
 1   Input2  10 non-null     int64
 2   Output  10 non-null     int64
dtypes: int64(3)
memory usage: 372.0 bytes

In [4]:
df.describe()

       Input1    Input2     Output
count    10.0  10.00000  10.000000
mean      2.0   5.50000  11.000000
std       0.0   3.02765   6.055301
min       2.0   1.00000   2.000000
25%       2.0   3.25000   6.500000
50%       2.0   5.50000  11.000000
75%       2.0   7.75000  15.500000
max       2.0  10.00000  20.000000

In [7]:
input_data=df.iloc[:,:-1]
output_data=df["Output"]

In [8]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [ ]:
x_train

(   Input1  Input2
 9       2      10
 2       2       3
 3       2       4
 1       2       2
 5       2       6
 6       2       7
 4       2       5,
 9    20
 2     6
 3     8
 1     4
 5    12
 6    14
 4    10
 Name: Output, dtype: int64)

In [13]:
y_train

9    20
2     6
3     8
1     4
5    12
6    14
4    10
Name: Output, dtype: int64

In [14]:
x_test

   Input1  Input2
0       2       1
8       2       9
7       2       8

In [12]:
y_test

0     2
8    18
7    16
Name: Output, dtype: int64